.search__form {
  display: flex;
  position: relative;
  align-items: center;
  input {
    all: unset;
    width: 500px;
    height: 25px;
    padding: 10px;
    border: 1px solid rgba($color: black, $alpha: 0.15);
    font-size: 15px;
  }
  button {
    position: absolute;
    top: 7px;
    right: -5px;
    color: rgba($color: black, $alpha: 0.5);
    background: none;
    text-align: center;
    cursor: pointer;
  }
}
