.video__data {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba($color: black, $alpha: 0.15);
  .video__hashtags {
    color: $blue;
    span {
      margin-right: 5px;
    }
  }
  .video__title {
    font-size: 25px;
    margin: 10px 0 20px 0;
    font-weight: 500;
  }
  .video__meta {
    margin-bottom: 20px;
    color: rgba($color: black, $alpha: 0.5);
  }
}
.video__owner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  margin-bottom: 45px;
  border-bottom: 1px solid rgba($color: black, $alpha: 0.15);
  .video__owner-data a {
    display: flex;
    align-items: center;
    font-weight: 500;
  }
  .video__owner-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 25px;
  }
  .video__owner-plus button {
    margin-right: 15px;
    background-color: rgba($color: black, $alpha: 0.15);
  }
  #subscribeBtn {
    color: $red;
    background: none;
    font-weight: 500;
  }
}

.video__add-comment-form {
  display: flex;
  textarea {
    all: unset;
    width: 50%;
    height: 35px;
    line-height: 100%;
    border-bottom: 1px solid rgba($color: black, $alpha: 0.15);
    margin-right: 10px;
  }
}
.video__comments {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  font-size: 17px;
  h3 {
    font-weight: 500;
    margin-bottom: 25px;
  }
  .video__comment-container {
    display: flex;
    margin-bottom: 25px;
    font-size: 15px;
    position: relative;
    .video__comment-avatar {
      margin: 0 10px 5px 0;
    }
    img {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      object-fit: cover;
    }
    .video__comment-data {
      display: flex;
      flex-direction: column;
      width: 50%;
      justify-content: space-between;
      .video__comment-header {
        display: flex;
        font-size: 12px;
        margin-bottom: 10px;
        span {
          margin-right: 5px;
        }
      }
    }
    .video__comment-delete {
      font-size: 12px;
      cursor: pointer;
    }
  }
}
