form:not(.video__comment-form) {
  margin: 0 auto;
  border: none;
  &:not(.search__form) {
    width: 300px;
    padding: 30px;
  }
}

input:not([type="range"]),
input[type="submit"] {
  all: unset;
  margin: 0 auto;
  border-radius: 5px;
  padding: 15px 15px;
  border: 1px solid rgba($color: black, $alpha: 0.15);
  margin-bottom: 10px;
  width: 90%;
  &::placeholder {
    color: rgba($color: black, $alpha: 0.5);
  }
}

input[type="submit"],
.social__btn {
  border: none;
  display: block;
  background-color: $blue;
  color: white;
  text-align: center !important;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
