.social-login {
  border-top: 1px solid rgba($color: black, $alpha: 0.15);
  padding-top: 25px;
  margin-top: 25px;
  .social__btn--github {
    display: block;
    text-align: center !important;
    color: rgba($color: black, $alpha: 0.5);
  }
}
