.video-mixin {
  .video-mixin__thumb {
    height: 150px;
    width: 100%;
    background-color: rgba($color: black, $alpha: 0.15);
  }
  .video-mixin__data {
    margin-top: 15px;
    padding: 0 10px;
    .video-mixin__title {
      font-size: 17px;
      display: block;
      font-weight: 500;
    }
    .video-mixin__meta {
      margin-top: 10px;
      font-size: 12px;
    }
    .video-mixin__meta p {
      margin-bottom: 5px;
    }
  }
}
