aside.hidden
    nav
        ul
            a(href="/")
                li
                    i.far.fa-circle
                    span 홈
            a(href="/search")
                li
                    i.far.fa-compass
                    span 탐색
            li
                i.far.fa-heart
                span 구독
            li
                i.fas.fa-list
                span 보관함
            li
                i.far.fa-clock
                span 시청 기록